<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.2/gridlex.min.css">
    <title>@ViewData["Title"] - Playground</title>
    <base href="/"/>
</head>
<body>
    <my-app></my-app>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
